body {
    min-height: 100vh;
    margin: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.interface {
    display: flex;
    gap: 50px;
}

.limits {
    display: flex;
    height: 450px;
    width: 800px;
    border: 4px solid orange;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.row {
    width: 100%;
    height: 100%;
}

.column {
    box-sizing: border-box;
}

.reset-btn {
    border-radius: 15px;
    color: blueviolet;
    align-self: center;
    padding: 15px;
}

.grid-btn {
    border-radius: 15px;
    color: green;
    align-self: center;
    padding: 15px;
    margin-right: 50px;
}